<mat-toolbar>
  <div class="navigation-links">
    <a class="navigation-link" routerLink="/">Home</a>
    <a class="navigation-link" routerLink="/order">Order</a>
    <a class="navigation-link" routerLink="/account">Account</a>
    <a class="navigation-link" routerLink="/ice-cream-service">Flavors</a>
    <ng-container *ngIf="user$ | async as user">
      <a class="navigation-link" (click)="logout()">Logout</a>
    </ng-container>
    <ng-container *ngIf="!user$">
      <a class="navigation-link" routerLink="/login">Login</a>
      <a class="navigation-link" routerLink="/register">Register</a>
    </ng-container>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>


<!-- <ng-container *ngIf="user$ | async as user">
  <div class="welcome-message">
    <h1>Welcome, {{ user.firstName }} {{user.lastName}}!</h1>
    <p>Enjoy browsing our delicious ice cream flavors and creating your perfect ice cream order!</p>
  </div>
</ng-container>


<ng-template #notLoggedIn>
  <div class="login-prompt">
    <h1>Welcome to our Ice Cream Shop!</h1>
    <p>Please <a routerLink="/login">log in</a> or <a routerLink="/register">register</a> to start creating your ice cream order.</p>
  </div>
</ng-template> -->

