<mat-toolbar>
  <div class="navigation-links">
    <a class="navigation-link" routerLink="/">Home</a>
    <a class="navigation-link" routerLink="/order">Order</a>
    <a class="navigation-link" routerLink="/account">Account</a>
    <ng-container *ngIf="user$ | async as user">
      <a class="navigation-link" (click)="logout()">Logout</a>
    </ng-container>
    <ng-container *ngIf="!user$">
      <a class="navigation-link" routerLink="/login">Login</a>
      <a class="navigation-link" routerLink="/register">Register</a>
    </ng-container>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>


<!-- <ng-container *ngIf="user$ | async as user">
  <div class="welcome-message">
    <h1>Welcome, {{ user.firstName }} {{user.lastName}}!</h1>
    <p>Enjoy browsing our delicious ice cream flavors and creating your perfect ice cream order!</p>
  </div>
</ng-container>


<ng-template #notLoggedIn>
  <div class="login-prompt">
    <h1>Welcome to our Ice Cream Shop!</h1>
    <p>Please <a routerLink="/login">log in</a> or <a routerLink="/register">register</a> to start creating your ice cream order.</p>
  </div>
</ng-template> -->
<div class="home-page">
  <h1>Welcome to our Ice Cream Shop!</h1>
  <p>Discover our delicious ice cream flavors and create your perfect ice cream order.</p>
  <div class="ice-cream-images">
    <img src="https://th.bing.com/th/id/R.69c32be1ead63353dc3621b8a40fbd62?rik=jkGQ%2fyBIxLn3VA&pid=ImgRaw&r=0" alt="Ice cream image 1">
    <img src="path/to/your/second-image.jpg" alt="Ice cream image 2">
    <img src="path/to/your/third-image.jpg" alt="Ice cream image 3">
  </div>
</div>
