<ng-container *ngIf="user$ | async as user">
  <div class="welcome-message">
    <h1>Welcome, {{ user.firstName }} {{user.lastName}}!</h1>
    <p>Enjoy browsing our delicious ice cream flavors and creating your perfect ice cream order!</p>
  </div>
</ng-container>

<!-- Display a message prompting the user to log in or register when not logged in -->
<ng-container class="welcome-message" *ngIf="!user$">
  <div class="welcome-message">
    <h1>Welcome to our Ice Cream Shop!</h1>
    <p>Please <a routerLink="/login">log in</a> or <a routerLink="/register">register</a> to start creating your ice cream order.</p>
  </div>
</ng-container>
<div class="home-page">
  <h1>Welcome to our Ice Cream Shop!</h1>
  <p>Discover our delicious ice cream flavors and create your perfect ice cream order.</p>
  <div class="ice-cream-images">
    <img src="https://th.bing.com/th/id/R.69c32be1ead63353dc3621b8a40fbd62?rik=jkGQ%2fyBIxLn3VA&pid=ImgRaw&r=0" alt="Ice cream image 1">
  </div>
</div>

