<form (ngSubmit)="onRegister()">
  <mat-form-field>
    <input matInput [(ngModel)]="email" name="email" type="email" placeholder="Email" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="firstName" name="firstName" type="firstName" placeholder="First Name Here" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="lastName" name="lastName" type="lastName" placeholder="Last Name Here" required>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Register</button>
</form>
